header{
    height: 10vh;

    & nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        height: 10vh;
        background-color: #000235;
        color: #ffffff;
        }

    & .abas a{
        font-size: 1.125rem;
        margin: 0px 30px;

        &:hover{
            padding: 15px 15px;
            border-radius: 50px;
            background-color: #8E5AFF;
            transform: scale(1);
            transition: 0.3s;
        }
    }

    & .login a{
        font-size: 1.125rem;
        margin: 0px 30px;

        &:hover{
            padding: 15px 15px;
            border-radius: 50px;
            background-color: #8E5AFF;
            transform: scale(1);
            transition: 0.3s;
        }
    }
}






main{
    height: 100vh;

    & .search{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 15vh 0px;
    }

    & .search h1{
        color: #ffffff;
        font-size: 5rem;
        font-weight: 700;
    }

    & .search form{
        display: flex;
        align-items: stretch;
        margin-top: 1rem;
    }

    & .search input[type="search"]{
        background-color: #ffffff;
        border-radius: 50px;
        width: 262px;
        padding: 10px;

        &::placeholder{
            color: #00023580;
            padding: 20px;
        }
    }

    & .search label{
        background-color: #8E5AFF;
        border-radius: 50px;
        height: 49px;
        width: 54px;
        text-align: center;
        margin-left: 10px;

        & span{
            color: #ffffff;
            margin-top: 14px;
        }
    }

    & .noticias {
        margin: 15vh 0px;
        padding: 0px 20px;
        color: #ffffff;
    }


    & .noticias h2{
        text-align: center;
        font-size: 3.5rem;
        padding: 20px;
    }

    & .noticias .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .noticias .principal{
        position: relative;
        max-width: 800px;
        margin: 20px auto;

        &:hover{
            box-shadow: 0px 3px 10px 1px #ffffff45;
            transform: scale(1.05);
            transition: 1s;
        }

        & img{
            width: 800px;
            height: auto;
            display: block;
            border-radius: 25px;
            
            }

        }

    & .noticias .link{
        text-align: left;
        width: 60vw;
        height: 31vh;

    }

    & .noticias .text-area{
        position: absolute;
        top: 65%;
         left: 35%;
         transform: translate(-50%, -50%);
        color: white;
        padding: 20px;
        text-align: center;
         border-radius: 10px;
    }

    & .text-area h3{
        font-size: 2rem;
        font-weight: 700;
    }

    & .text-area p{
        margin-top: 1rem;
        font-size: 1.125rem;
    }

    & .text-area .rediressionar{
       display: flex;
       justify-content: flex-end;
       text-decoration: underline;
       font-size: 1.125rem;
       margin: 2rem 2rem 0px 0px;
    }

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;

}

}

.card-list .card-item {
    list-style: none;
    margin: -7px;
}


.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    margin: 10px;

}

.card-list .card-item .card-link:hover {
    box-shadow: 5px 5px #8E5AFF;
    transition: 1s;
    transform: scale(1.01);

}

.card-list .card-link .card-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: black;
    font-weight: 600;
}

.card-list .card-link .card-pc {
    color: #ffffff;
    background: rgb(0, 0, 0);
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    width: fit-content;
    border-radius: 50px;
}
.card-list .card-link .card-xbox {
    color: #ffffff;
    background: rgb(0, 129, 11);
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    width: fit-content;
    border-radius: 50px;
}
.card-list .card-link .card-play {
    color: #ffffff;
    background: rgb(24, 0, 238);
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    width: fit-content;
    border-radius: 50px;
}
.card-list .card-link .card-mobile {
    color: #000000;
    background: rgb(151, 144, 49);
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    width: fit-content;
    border-radius: 50px;;
}
.card-list .card-link .card-nin {
    color: #ffffff;
    background: rgb(255, 0, 0);
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    width: fit-content;
    border-radius: 50px;
}



