*{
    font-family: 'Outfit', 'Fira Code', 'Inter', 'Roboto', 'SF Pro Text';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    text-wrap: nowrap;
    background-size: cover;
    backdrop-filter: blur(10px);
    background-color: #0400fc;
    background-repeat: no-repeat;
    background-image: url(/GameWired/assets/imgs/Fundos/Monitor.webp);

}

.content {
        display: flex;
        align-items: center;
        justify-content: space-around;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3.5rem;
}

h3{
    font-size: 2rem;
}
h4{
    font-size: 1.25rem;
}
p{
    font-size: 1.125rem;
}
