header{
    width: 100vw;
    height: 10vh;
}

header > img {
    height: 10vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 90px 0px;
}

main > .text-area{
    color: #ffffff;
}

main > .text-area h1{
    font-size: 4.5rem;
    font-weight: 700;
}

main > .text-area span{
    font-size: 5rem;
    font-weight: 800;
}

main > .text-area p{
    word-spacing: 2px;
    font-size: 1.125rem;
}

main > .text-area a{
    text-decoration: none;
    text-align: center;
    font-size: 1.125rem;
}

main > .text-area button{
    margin-top: 1rem;
    color: #ffffff38;
    width: 116px;
    height: 39px;
    background-color: #8e5aff6b;
    border-radius: 50px;

    &:hover{
        color: #ffffff;
        background-color: #8e5afffb;
        transform: scale(1.1);
        transition: 1s;
    }
}

main > img{
    height: 60vh;
}
