/* 💻 Tablets Médios */
@media (max-width: 768px) {
    body{
        background-image: url(/GameWired/assets/imgs/Fundos/TabletsMedio.webp);
    }

    main{

        & .content .text-area{
            width: 55%;
            text-wrap: nowrap;

        }

        & .content h1{
            font-size: 4rem;
        }

        & .content span{
            font-size: 4rem;
        }

        & .content a{
            & button{
                color: #ffffff;
                background-color: #8E5AFF;
                box-shadow: 1px 2px 3px #00000069;
            }
        }

        & .content .img{
            display: none;
        }
    }
}

/* 💻 Tablets Grandes */
@media (max-width: 834px) {
    body{
        background-image: url(/GameWired/assets/imgs/Fundos/TabletsGrandes.webp);
    }

    main{

        & .content .text-area{
            width: 55%;
            text-wrap: nowrap;

        }

        & .content h1{
            font-size: 4rem;
        }

        & .content span{
            font-size: 4rem;
        }

        & .content a{
            & button{
                color: #ffffff;
                background-color: #8E5AFF;
                box-shadow: 1px 2px 3px #00000069;
            }
        }

        & .content .img{
            display: none;
        }
    }
}
