/* 🖥️ Notebooks Padrão */
@media (max-width: 1366px) {
    body{
        background-image: url(/GameWired/assets/imgs/Fundos/Notebook.webp);
    }

    main{
        & .content .text-area{
            text-wrap: nowrap;

        }

        & .content h1{
            font-size: 4rem;
        }

        & .content span{
            font-size: 4.5rem;
        }
    }
}

/* 🖥️ Monitores Grandes */
@media (min-width: 1920px) {
    body{
        background-image: url(/GameWired/assets/imgs/Fundos/Monitor.webp);
    }

    main{

        & .content .text-area{
            text-wrap: nowrap;

        }

        & .content h1{
            font-size: 5rem;
        }

        & .content span{
            font-size: 5rem;
        }

    }
}
