/* 📲 Celulares Grandes */
@media (max-width: 430px) {
    body{
        background-image: url(../../../assets/images/fundos/Mobile/CelularGrande.webp);
    }

    header{
        height: 10vh;

        & img{
            height: 10vh;
        }
    }

    main{

        & .content{
            justify-content: center;
            width: 99.5vw;
            height: 80vh;
        }

        & .text-area{
            width: 100vw;
            padding: 0rem 1rem;

        }

        & .text-area h1{
            text-wrap: nowrap;
            font-size: 2.75rem;
        }

        & .text-area span{
            font-size: 3rem;
        }

        & .text-area p{
            font-size: 1rem;
        }

        & .text-area a{
            font-size: 1rem;

            & button{
                width: 100px;
                color: #ffffff;
                background-color: #8E5AFF;
            }
        }

        & .img{
            display: none;
        }
    }
}

/* 📱 Dispositivos Pequenos */
/* 📲 Celulares Médios */
@media (max-width: 390px) {

    body{
        background-image: url(../../../assets/images/fundos/Mobile/CelularMedio.webp);
    }

    header{
        height: 10vh;

        & img{
            height: 10vh;
        }
    }

    main{

        & .content{
            justify-content: center;
            height: 80vh;
            width: 98.5vw;
        }

        & .text-area{
            width: 100vw;
            padding: 0rem 1rem;

        }

        & .text-area h1{
            font-size: 2.75rem;
        }

        & .text-area span{
            font-size: 3rem;
        }

        & .text-area p{
            font-size: 1rem;
        }

        & .text-area a{
            font-size: 1rem;

            & button{
                width: 100px;
                color: #ffffff;
                background-color: #8E5AFF;
            }
        }

        & .img{
            display: none;
        }
    }
}

@media (max-width: 360px) {

    body{
        background-image: url(../../../assets/images/fundos/Mobile/CelularPequeno.webp);
    }

    header{
        height: 10vh;

        & img{
            height: 10vh;
        }
    }

    main{

        & .content{
            justify-content: center;
            height: 80vh;
            width: 99.5vw;
        }

        & .text-area{
            width: 100vw;

        }

        & .text-area h1{
            text-wrap: nowrap;
            font-size: 2.75rem;
        }

        & .text-area span{
            font-size: 3rem;
        }

        & .text-area p{
            font-size: 1rem;
        }

        & .text-area a{
            font-size: 1rem;

            & button{
                width: 100px;
                color: #ffffff;
                background-color: #8E5AFF;
            }
        }

        & .img{
            display: none;
        }
    }
}

@media (max-width: 320px){
    body{
        background-image: url(../../../assets/images/fundos/Mobile/Celular.webp);
    }

    header{
        height: 8vh;

        & img{
            height: 8vh;
        }
    }

    main{

        & .content{
            justify-content: center;
            height: 80vh;
            width: 99.5vw;
        }

        & .text-area{
            padding: 0rem 1rem;
            width: 100vw;

        }

        & .text-area h1{
            text-wrap: nowrap;
            font-size: 2rem;
        }

        & .text-area span{
            font-size: 2.5rem;
        }

        & .text-area p{
            font-size: 0.9rem;
        }

        & .text-area a{
            font-size: 1rem;

            & button{
                width: 100px;
                color: #ffffff;
                background-color: #8E5AFF;
            }
        }

        & .img{
            display: none;
        }
    }

}
