@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

body{
    background-image: url(../IMGS/photos/fundo.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 10vh;
}

header > .logo{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    margin-right: 50px;

}

header > .img{
    width: 10vw;
    height: 14vh;
}

header > nav {
    display: flex;
    align-items: center;
    background-color: #000235;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

header > nav .navegacao{
    padding: 20px;
    width: 40vw;
    margin-left: 20px;

}

header > nav .login{
    padding: 20px;
    width: 32.7vw;
    display: flex;
    justify-content: end;



}
header > nav a{
    font-size: 1.2rem;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
    margin-right: 20px;


    &:hover{
        background-color: #8E5AFF;
        border-radius: 50px;
    }
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-top: 10vh;
}

main > section h1{
    font-size: 3rem;
}

main > section > .notices img{
    border-radius: 20px;
    height: 31vh;
    lazy-
}

main > section .notices{
    display: flex;
    width: 60vw;
    height: 15vw;
    border-radius: 20px;
    background-color: #191B4E;
    box-shadow: 0px 3px 4px 3px #000000;
    margin-top: 8vh;
}

main > section .txt{
    display: flex;
    flex-direction: column;
    align-items: end;

}
main > section > .notices h2{
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0px 30px;

}

main > section > .notices p{
    padding-top: 12px;
    font-size: 1.1rem;
    margin: 0px 30px;
    font-weight: lighter;
}

main > section > .notices a{
    color: #FFFFFF;
    margin: 50px 20px;
}
