*{
    font-family: 'Outfit', 'Fira Code', 'Inter', 'Roboto';
    color: #ffffff;
}

body{
    background-color: #000235;
    height: 100vh;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.25rem;

}

p, a{
    font-size: 1.125rem;
}
